.header
    padding: 1.5rem 0
    background-color: #FFFFFF
    border-bottom: 1px solid #E4E4E7
    .container
        display: flex
        justify-content: space-between
.header__list
    display: flex
    gap: 0.5rem
    .header__link
        padding: 0.5rem 1rem
        background-color: transparent
        transition: 0.4s ease-in-out
        border-radius: 400px
        font-weight: 400
        font-size: 1rem
        color: #000
        line-height: 16px
.header__link:hover 
    background-color:#0000000D
    /*Este elemento está escondido pois ainda não terá na página.*/
.header__change-language 
    width: 200px
    visibility: hidden
/*=>*/